	<ul class="nav nav-tabs">
		 <a class="navbar-brand" href="/"> Musician's Web </a>
		 <li class="nav-item">
 			<a class="nav-link active" href='/artist'>View Artists</a>
 		</li>
		<li class="nav-item">
			<a class="nav-link active" href='/venue'>View Venues</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/addartist">Add Venue</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/addvenue">Add Artist</a>
		</li>
</ul>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Venue's Name</th>
				<th> Contact </th>
        <th> Website</th>
        <th> Duration </th>
				<th> Blurb </th>

      </tr>
    </thead>
			<tbody>
				{{#each artist}}

      <tr>
        <td>{{artist_name}}</td>
        <td> {{contact}} </td>
        <td> {{website}} </td>
				<td>{{genre}} </td>
				<td> {{group_size}} </td>
				<td> {{blurb}} </td>
				<button class="btn btn-warning" id = 'see-map-button'> See map </button>


			</tr>
			{{/each}}
			<tr>
        <td>Teak Neighborhood Grill </td>
        <td> booking@teak.com
				</td>
        <td> www.teak.com </td>
				<td> One time</td>
				<td> Looking for someone to play this Wednesday night.
				<!-- Trigger the modal with a button -->
				<a href='/map'<button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">Open Map</button> </a>

				<!-- Modal -->
				<div id="myModal" class="modal fade" role="dialog">
				  <div class="modal-dialog">

				    <!-- Modal content-->
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal">&times;</button>
				        <h4 class="modal-title">Modal Header</h4>
				      </div>
							<input type="text" id="autocomplete">
							<div id="map"></div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div>

				  </div>
				</div>

			      </tr>

			</tbody>


  </table>
</div>

		<style>
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
<script>
		var mapOptions = {
    center: new google.maps.LatLng(37.7831,-122.4039),
    zoom: 12,
    mapTypeId: google.maps.MapTypeId.ROADMAP
};

var map = new google.maps.Map(document.getElementById('map'), mapOptions);
var acOptions = {
  types: ['establishment']
};
// var autocomplete = new google.maps.places.Autocomplete(document.getElementById('autocomplete'),acOptions);
// autocomplete.bindTo('bounds',map);
// // var infoWindow new google.maps.InfoWindow();
// // var marker = new google.maps.Marker({
// //   map: map
// // });
//
// google.maps.event.addListener(autocomplete, 'place_changed', function() {
//   infoWindow.close();
//   var place = autocomplete.getPlace();
//   if (place.geometry.viewport) {
//     map.fitBounds(place.geometry.viewport);
//   } else {
//     map.setCenter(place.geometry.location);
//     map.setZoom(17);
//   }
//   marker.setPosition(place.geometry.location);
//   infoWindow.setContent('<div><strong>' + place.name + '</strong><br>');
//   infoWindow.open(map, marker);
//   google.maps.event.addListener(marker,'click',function(e){
//
//     infoWindow.open(map, marker);
//
//   });
// });
</script>
